header {
   position: absolute;
   top: 0px;
   left: 0px;
   width: 100%;
   height: 10%;
   text-align: left;
   background-color: red;
}

.zonegauche {
    position: absolute;
    top: 10%;
    left: 0px;
    width: 20%;
    height: 90%;
    text-align: left;
    background-color: blue;
 }

.zonemilieu {
    position: absolute;
    top: 10%;
    left: 20%;
    width: 80%;
    height: 90%;
    text-align: left;
    background-color: greenyellow;
 }

